
.container-fluid {
	width: 100%; 
	 padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.box-top {
	margin-top: 4vh;
}

.image-fluid {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
