.bg-red{
    background-color:rgba(252,79,82,.9)
}
.bg-yellow{
    background-color:rgba(254,226,91,.9)
}
.bg-blue{
    background-color:rgba(82,168,252,.9)
}
.bg-green{
    background-color:rgba(87,253,131,.9)
}
.bg-dark{
    background-color:rgba(21,1,1,.9)
}

