.customise {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;


    @media only screen and (min-width:768px) {
        padding-bottom: 5vw;
    }


    .customise-canvas {

        @media only screen and (min-width:768px) {
            padding-left: 5vw;
            padding-right: 5vw;
        }



        .customise-canvas-head {
            text-align: center;
            margin-top: 2vw;
            margin-bottom: 2vw;

            @media only screen and (min-width:768px) {
                font-size: 2vw;
            }

            @media only screen and (max-width:768px) {
                font-size: 5vw;

            }

        }

        .customise-canvas-body {
            background-image: url('../img/customise/customise1.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: top;

            @media only screen and (min-width:768px) {
                height: 30vw;
            }

            @media only screen and (max-width:768px) {
                height: 60vw;
            }

            .customise-canvas-phrase {
                color: black;
            }

        }
    }

    .customise-panel {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;


        @media only screen and (min-width:768px) {
            padding-left: 5vw;
            padding-right: 5vw;
        }

        @media only screen and (max-width:768px) {
            padding: 8vw;
        }



        [class*="customise-panel-"] {

            @media only screen and (max-width:768px) {
                margin-bottom: 5vw;

            }

            @media only screen and (min-width:768px) {
                margin-bottom: 1vw;
            }



            lable {
                display: block;
                font-weight: bold;

                @media only screen and (max-width:768px) {
                    margin-left: -3vw;
                    margin-bottom: 3vw;
                    font-size: 5vw;

                }

                @media only screen and (min-width:768px) {
                    margin-left: -1vw;
                    margin-bottom: 1vw;
                    font-size: 1.5vw;

                }




            }


        }


        .customise-panel-size {
            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked+label {
                border: solid 2px rgb(94, 224, 241);

            }
            
            .customise-size-btn {
                display: inline-block;
                color: white;
                text-decoration: none;

                @media only screen and (min-width:768px) {
                    border: 0.5px rgba(255, 255, 255, .7) solid;
                    border-radius: 5px;
                    margin-right: 1vw;
                    padding: 3px 15px;
                    font-size: 1.5vw;
                }

                @media only screen and (max-width:768px) {
                    border: 1px rgba(255, 255, 255, 1) solid;
                    border-radius: 10px;
                    margin-right: 5vw;
                    padding: 3px 15px;
                    font-size: 5vw;
                }


                &:hover {
                    cursor: pointer;
                }
            }

        }


        #customise-phrase-text {
            background: black;
            color: white;
            display: block;

            @media only screen and (min-width:768px) {
                margin-left: auto;
                margin-right: 0;
                width: 22vw;
                height: 7vw;
            }

            @media only screen and (max-width:768px) {
                margin-left: auto;
                margin-right: 0;
                width: 60vw;
                height: 20vw;
                border: 1px solid white;
            }

        }

        .customise-phrase-submit {
            display: block;
            margin-left: auto;
            margin-right: 0;
            background-color: black;
            color: white;

            @media only screen and (min-width:768px) {
                padding-left: 10px;
                padding-right: 10px;
                margin-right: 5px;
                margin-top: 5px;
                border-radius: 5px;
                font-size: 1.2vw;
            }

            @media only screen and (max-width:768px) {
                padding-left: 3vw;
                padding-right: 3vw;
                padding-top: .5vw;
                padding-bottom: .5vw;
                // margin-right: 5px;
                margin-top: 2vw;
                border-radius: 5px;
                border: 1px solid white;
                font-size: 3vw;

            }

        }


        #customise-font-sel {
            background-color: black;
            color: white;

            @media only screen and (min-width:768px) {
                width: 15vw;
            }

            @media only screen and (max-width:768px) {
                width: 30vw;
                font-size: 3vw;

            }
        }

        .customise-panel-color {
            input[type="radio"] {
                display: none;
            }

            input[type="radio"]:checked+label {
                border: solid 2px rgb(94, 224, 241);
            }

            .customise-color-btn {
                display: inline-block;
                color: white;
                text-decoration: none;
                transition: all 0.3s;


                @media only screen and (min-width:768px) {
                    border: 0.5px rgba(255, 255, 255, .7) solid;
                    border-radius: 5px;
                    height: 3vw;
                    width: 3vw;
                    margin-right: 10px;
                }

                @media only screen and (max-width:768px) {
                    border: 1px rgba(255, 255, 255, 1) solid;
                    border-radius: 5px;
                    height: 7vw;
                    width: 7vw;
                    margin-right: 3vw;

                }

                // &:hover {
                //     cursor: pointer;
                // }


            }
        }
    }



}