.header {


    position: relative;
    height: 100vh;
    color: white;

    background-color: white;
    background-image: url('../img/logo/vast_bg_m.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint($breakpoint-sm) {
        background-image: none;
    }


    .header-content {
        // border:red 10px solid;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 15vw;
        text-align: right;



        @include breakpoint($breakpoint-sm) {

            background-image: url('../img/logo/vast_bg_m.jpg');
            background-size: cover;
            background-position: right;

            position: absolute;
            right: 0;
            bottom: initial;
            margin-bottom: initial;

            height: 100%;
            width: 60%;
        }




        .header-logo-main {
            font-size: 30vw;


            @include breakpoint($breakpoint-sm) {
                position: absolute;
                font-size: 15vw;
                transform: translateY(40vh) translateX(-30vw);

            }

 

            .header-logo-main-base {
                display: none;

                @include breakpoint($breakpoint-sm) {
                    position: absolute;
                    display: block;
                    color: black;
                    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
                }


            }


        }

        .header-logo-sub {
            font-size: 10vw;

            @include breakpoint($breakpoint-sm) {
                position: absolute;
                font-size: 3.5vw;
                transform: translateY(60vh) translateX(-30vw);



            }

        }

        .header-text1 {
            font-size: 3.5vw;

            @include breakpoint($breakpoint-sm) {
                position: absolute;
                font-size: 1.5vw;
                ;
                transform: translateY(80vh) translateX(-60vw);
                color: black;
            }
        }

        .header-text2 {
            font-size: 3.5vw;

            @include breakpoint($breakpoint-sm) {

                position: absolute;
                font-size: 1.5vw;
                transform: translateY(87vh) translateX(-80vw);
                color: black;

            }

        }

    }


}