//Variables
$text-color: #333;
$theme-color: #ED1C27;
$text-font: Geogria, serif;
$heading-font: Arial, sans-serif;
$sub-title-font: 'Wallpoet', cursive;;
$spacing: 16px;

$breakpoint-sm:small;
$breakpoint-md:medium;