* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: grey;
}

.bg-red {
  background-color: rgba(252, 79, 82, 0.9);
}

.bg-yellow {
  background-color: rgba(254, 226, 91, 0.9);
}

.bg-blue {
  background-color: rgba(82, 168, 252, 0.9);
}

.bg-green {
  background-color: rgba(87, 253, 131, 0.9);
}

.bg-dark {
  background-color: rgba(21, 1, 1, 0.9);
}

.header {
  position: relative;
  background-color: white;
}

.header .header-logo {
  font-family: 'Maven Pro', sans-serif;
}

@media only screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    height: 100vh;
    min-height: 120vw;
    padding-right: 5vw;
    padding-bottom: 10vw;
    background-image: url("../img/logo/vast_bg_m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: right;
  }
  .header .header-logo .header-logo-main {
    font-size: 28vw;
  }
  .header .header-logo .header-logo-main .header-logo-main-base {
    display: none;
  }
  .header .header-logo .header-logo-sub {
    font-size: 8vw;
    -webkit-transform: translateY(-10vw);
            transform: translateY(-10vw);
  }
  .header .header-text {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 60vw;
  }
  .header .header-content {
    background-image: url("../img/logo/vast_bg_m.jpg");
    background-size: cover;
    background-position: right;
    position: absolute;
    right: 0;
    bottom: initial;
    margin-bottom: initial;
    height: 100%;
    width: 60%;
  }
  .header .header-logo {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: right;
    color: white;
    top: 30%;
    left: 25%;
  }
  .header .header-logo .header-logo-main {
    position: relative;
    font-size: 15vw;
  }
  .header .header-logo .header-logo-main .header-logo-main-base {
    position: absolute;
    color: black;
    -webkit-clip-path: polygon(0 0, 39.6% 0, 39.6% 100%, 0 100%);
            clip-path: polygon(0 0, 39.6% 0, 39.6% 100%, 0 100%);
  }
  .header .header-logo .header-logo-sub {
    font-size: 2.6vw;
    -webkit-transform: translateY(-5vw);
            transform: translateY(-5vw);
  }
  .header .header-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    text-align: left;
    top: 75%;
    left: 5%;
    color: gray;
    font-size: 1.2vw;
  }
  .header .header-text .header-text1 {
    display: block;
  }
  .header .header-text .header-text2 {
    display: block;
    margin-right: 5vw;
  }
}

.customise {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .customise {
    padding-bottom: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .customise .customise-canvas {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.customise .customise-canvas .customise-canvas-head {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

@media only screen and (min-width: 768px) {
  .customise .customise-canvas .customise-canvas-head {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-canvas .customise-canvas-head {
    font-size: 5vw;
  }
}

.customise .customise-canvas .customise-canvas-body {
  background-image: url("../img/customise/customise1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (min-width: 768px) {
  .customise .customise-canvas .customise-canvas-body {
    height: 30vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-canvas .customise-canvas-body {
    height: 60vw;
  }
}

.customise .customise-canvas .customise-canvas-body .customise-canvas-phrase {
  color: black;
}

.customise .customise-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel {
    padding: 8vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] {
    margin-bottom: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] {
    margin-bottom: 1vw;
  }
}

.customise .customise-panel [class*="customise-panel-"] lable {
  display: block;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] lable {
    margin-left: -3vw;
    margin-bottom: 3vw;
    font-size: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] lable {
    margin-left: -1vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
  }
}

.customise .customise-panel .customise-panel-size input[type="radio"] {
  display: none;
}

.customise .customise-panel .customise-panel-size input[type="radio"]:checked + label {
  border: solid 2px #5ee0f1;
}

.customise .customise-panel .customise-panel-size .customise-size-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel .customise-panel-size .customise-size-btn {
    border: 0.5px rgba(255, 255, 255, 0.7) solid;
    border-radius: 5px;
    margin-right: 1vw;
    padding: 3px 15px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel .customise-panel-size .customise-size-btn {
    border: 1px white solid;
    border-radius: 10px;
    margin-right: 5vw;
    padding: 3px 15px;
    font-size: 5vw;
  }
}

.customise .customise-panel .customise-panel-size .customise-size-btn:hover {
  cursor: pointer;
}

.customise .customise-panel #customise-phrase-text {
  background: black;
  color: white;
  display: block;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel #customise-phrase-text {
    margin-left: auto;
    margin-right: 0;
    width: 22vw;
    height: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel #customise-phrase-text {
    margin-left: auto;
    margin-right: 0;
    width: 60vw;
    height: 20vw;
    border: 1px solid white;
  }
}

.customise .customise-panel .customise-phrase-submit {
  display: block;
  margin-left: auto;
  margin-right: 0;
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel .customise-phrase-submit {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel .customise-phrase-submit {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 3vw;
  }
}

.customise .customise-panel #customise-font-sel {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel #customise-font-sel {
    width: 15vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel #customise-font-sel {
    width: 30vw;
    font-size: 3vw;
  }
}

.customise .customise-panel .customise-panel-color input[type="radio"] {
  display: none;
}

.customise .customise-panel .customise-panel-color input[type="radio"]:checked + label {
  border: solid 2px #5ee0f1;
}

.customise .customise-panel .customise-panel-color .customise-color-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel .customise-panel-color .customise-color-btn {
    border: 0.5px rgba(255, 255, 255, 0.7) solid;
    border-radius: 5px;
    height: 3vw;
    width: 3vw;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel .customise-panel-color .customise-color-btn {
    border: 1px white solid;
    border-radius: 5px;
    height: 7vw;
    width: 7vw;
    margin-right: 3vw;
  }
}

.commercial {
  background-color: black;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .commercial {
    height: 80vw;
  }
  .commercial .left-0 {
    left: 5vw;
  }
  .commercial .left-1 {
    left: 20vw;
  }
  .commercial .left-2 {
    left: 39vw;
  }
  .commercial .left-3 {
    left: 58vw;
  }
  .commercial .left-4 {
    left: 77vw;
  }
}

.commercial .commercial-text {
  padding: 8vw;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text {
    position: absolute;
    height: 40vw;
    width: 30vw;
    padding: 0;
    margin-top: 3vw;
  }
}

.commercial .commercial-text * {
  color: white;
  margin-top: 2vw;
}

.commercial .commercial-text h1 {
  font-size: 4rem;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text h1 {
    font-size: 5vw;
  }
}

.commercial .commercial-text p, .commercial .commercial-text a {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text p, .commercial .commercial-text a {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 600px) {
  .commercial [id*="commercial-img"] {
    width: 20vw;
    padding: 1vw;
    position: absolute;
  }
  .commercial #commercial-img_1_1 {
    top: 38vw;
  }
  .commercial #commercial-img_2_1 {
    top: 17vw;
  }
  .commercial #commercial-img_2_2 {
    top: 30vw;
  }
  .commercial #commercial-img_2_3 {
    top: 43vw;
  }
  .commercial #commercial-img_3_1 {
    top: 21vw;
  }
  .commercial #commercial-img_3_2 {
    top: 46.5vw;
  }
  .commercial #commercial-img_3_3 {
    top: 60vw;
  }
  .commercial #commercial-img_4_1 {
    top: 35vw;
  }
}

.contact {
  background-color: black;
  color: white;
  padding: 10px;
}

.contact div > .contact-head {
  font-size: 1rem;
}

.contact div > .contact-text {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact div > .contact-text > div {
  padding: 10px;
  vertical-align: center;
}

.contact div > .contact-text > div > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 2rem;
  margin-right: 1.5rem;
  float: left;
}

.contact div > .contact-text > div > p {
  height: 2rem;
  margin-right: 1.5rem;
}

.footer {
  background: #cccccc;
}

.footer div[class*="col-"] {
  padding: 30px 50px;
}

.footer div[class*="col-"] .footer-head {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer div[class*="col-"] .footer-text {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .footer div[class*="col-"] .footer-text {
    font-size: 1rem;
  }
}

.footer div[class*="col-"] .footer-text img {
  height: 2.5rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */