* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid grey;
}

*::before {
  margin: 0;
  padding: 0;
}

*::after {
  margin: 0;
  padding: 0;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: grey;
}

.bg-red {
  background-color: rgba(252, 79, 82, 0.9);
}

.bg-yellow {
  background-color: rgba(254, 226, 91, 0.9);
}

.bg-blue {
  background-color: rgba(82, 168, 252, 0.9);
}

.bg-green {
  background-color: rgba(87, 253, 131, 0.9);
}

.bg-dark {
  background-color: rgba(21, 1, 1, 0.9);
}

.header {
  position: relative;
  height: 100vh;
  color: white;
  background-color: white;
  background-image: url("../img/logo/vast_bg_m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 600px) {
  .header {
    background-image: none;
  }
}

.header .header-content {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15vw;
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .header .header-content {
    background-image: url("../img/logo/vast_bg_m.jpg");
    background-size: cover;
    background-position: right;
    position: absolute;
    right: 0;
    bottom: initial;
    margin-bottom: initial;
    height: 100%;
    width: 60%;
  }
}

.header .header-content .header-logo-main {
  font-size: 30vw;
}

@media only screen and (min-width: 600px) {
  .header .header-content .header-logo-main {
    position: absolute;
    font-size: initial;
    font-size: 15vw;
    -webkit-transform: translateY(40vh) translateX(-30vw);
            transform: translateY(40vh) translateX(-30vw);
  }
}

.header .header-content .header-logo-sub {
  font-size: 10vw;
}

@media only screen and (min-width: 600px) {
  .header .header-content .header-logo-sub {
    position: absolute;
    font-size: 3.5vw;
    -webkit-transform: translateY(60vh) translateX(-30vw);
            transform: translateY(60vh) translateX(-30vw);
  }
}

.header .header-content .header-text1 {
  font-size: 3.5vw;
}

@media only screen and (min-width: 600px) {
  .header .header-content .header-text1 {
    position: absolute;
    font-size: 1.5vw;
    -webkit-transform: translateY(80vh) translateX(-60vw);
            transform: translateY(80vh) translateX(-60vw);
    color: black;
  }
}

.header .header-content .header-text2 {
  font-size: 3.5vw;
}

@media only screen and (min-width: 600px) {
  .header .header-content .header-text2 {
    position: absolute;
    font-size: 1.5vw;
    -webkit-transform: translateY(87vh) translateX(-80vw);
            transform: translateY(87vh) translateX(-80vw);
    color: black;
  }
}

.customise {
  background-color: black;
  color: white;
}

.customise .customise-canvas .customise-canvas-head {
  font-size: 1rem;
  text-align: center;
}

.customise .customise-canvas .customise-canvas-body {
  background-image: url("../img/customise/customise1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 300px;
}

.customise .customise-canvas .customise-canvas-body .customise-canvas-phrase {
  color: black;
}

.customise .customise-panel {
  padding: 50px;
}

.customise .customise-panel [class*="customise-panel-"] {
  margin-bottom: 20px;
}

.customise .customise-panel [class*="customise-panel-"] lable {
  display: block;
  margin-left: -10px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.customise .customise-panel .customise-size-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 0.5px white solid;
  border-radius: 5px;
  margin-right: 30px;
  padding: 3px 15px;
  font-size: 1.5rem;
}

.customise .customise-panel .customise-size-btn:hover {
  cursor: pointer;
}

.customise .customise-panel .customise-color-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 0.5px white solid;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.customise .customise-panel .customise-color-btn:hover {
  cursor: pointer;
}

.commercial {
  background-color: black;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .commercial {
    height: 80vw;
  }
  .commercial .left-0 {
    left: 5vw;
  }
  .commercial .left-1 {
    left: 20vw;
  }
  .commercial .left-2 {
    left: 39vw;
  }
  .commercial .left-3 {
    left: 58vw;
  }
  .commercial .left-4 {
    left: 77vw;
  }
}

.commercial .commercial-text {
  padding: 8vw;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text {
    position: absolute;
    height: 40vw;
    width: 30vw;
    padding: 0;
    margin-top: 3vw;
  }
}

.commercial .commercial-text * {
  color: white;
  margin-top: 2vw;
}

.commercial .commercial-text h1 {
  font-size: 4rem;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text h1 {
    font-size: 5vw;
  }
}

.commercial .commercial-text p, .commercial .commercial-text a {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text p, .commercial .commercial-text a {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 600px) {
  .commercial [id*="commercial-img"] {
    width: 20vw;
    padding: 1vw;
    position: absolute;
  }
  .commercial #commercial-img_1_1 {
    top: 38vw;
  }
  .commercial #commercial-img_2_1 {
    top: 17vw;
  }
  .commercial #commercial-img_2_2 {
    top: 30vw;
  }
  .commercial #commercial-img_2_3 {
    top: 43vw;
  }
  .commercial #commercial-img_3_1 {
    top: 21vw;
  }
  .commercial #commercial-img_3_2 {
    top: 46.5vw;
  }
  .commercial #commercial-img_3_3 {
    top: 60vw;
  }
  .commercial #commercial-img_4_1 {
    top: 35vw;
  }
}

.contact {
  background-color: black;
  color: white;
  padding: 10px;
}

.contact div > .contact-head {
  font-size: 1rem;
}

.contact div > .contact-text {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact div > .contact-text > div {
  padding: 10px;
  vertical-align: center;
}

.contact div > .contact-text > div > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 2rem;
  margin-right: 1.5rem;
  float: left;
}

.contact div > .contact-text > div > p {
  height: 2rem;
  margin-right: 1.5rem;
}

.footer {
  background: #cccccc;
}

.footer div[class*="col-"] {
  padding: 30px 50px;
}

.footer div[class*="col-"] .footer-head {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer div[class*="col-"] .footer-text {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .footer div[class*="col-"] .footer-text {
    font-size: 1rem;
  }
}

.footer div[class*="col-"] .footer-text img {
  height: 2.5rem;
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */