@import url("https://fonts.googleapis.com/css?family=Maven+Pro:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Vampiro+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: grey;
}

.text-neon-small {
  font-size: 2vw;
}

.text-neon-medium {
  font-size: 5vw;
}

.text-neon-large {
  font-size: 10vw;
}

.text-neon-base, .text-neon-red, .text-neon-yellow, .text-neon-blue, .text-neon-green, .text-neon-orange, .text-neon-dark {
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.text-neon-red {
  color: #ffd8d8;
  text-shadow: .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,  .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757, .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757, .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757,  .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b,  .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b, .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;
}

.text-neon-yellow {
  color: #FFDD1B;
  -webkit-animation: neon-yellow 1.5s ease-in-out infinite alternate;
  animation: neon-yellow 1.5s ease-in-out infinite alternate;
}

.text-neon-blue {
  color: #228DFF;
  -webkit-animation: neon-blue 1.5s ease-in-out infinite alternate;
  animation: neon-blue 1.5s ease-in-out infinite alternate;
}

.text-neon-green {
  color: #B6FF00;
  -webkit-animation: neon-green 1.5s ease-in-out infinite alternate;
  animation: neon-green 1.5s ease-in-out infinite alternate;
}

.text-neon-orange {
  color: #FF9900;
  -webkit-animation: neon-green 1.5s ease-in-out infinite alternate;
  animation: neon-green 1.5s ease-in-out infinite alternate;
}

.text-neon-dark {
  color: #0c0c0c;
  -webkit-animation: neon-dark 1.5s ease-in-out infinite alternate;
  animation: neon-dark 1.5s ease-in-out infinite alternate;
}

/*glow*/
@keyframes neon-red {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow for webkit*/
@-webkit-keyframes neon-red {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow for mozilla*/

@keyframes neon-blue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon-blue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon-yellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-webkit-keyframes neon-yellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon-green {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neon-green {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@keyframes neon-orange {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-webkit-keyframes neon-orange {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@keyframes neon-dark {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgba(32, 30, 31, 0.445), 0 0 70px rgba(32, 30, 31, 0.445), 0 0 80px rgba(32, 30, 31, 0.445), 0 0 100px rgba(32, 30, 31, 0.445), 0 0 150px rgba(32, 30, 31, 0.445);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(32, 30, 31, 0.445), 0 0 35px rgba(32, 30, 31, 0.445), 0 0 40px rgba(32, 30, 31, 0.445), 0 0 50px rgba(32, 30, 31, 0.445), 0 0 75px rgba(32, 30, 31, 0.445);
  }
}

@-webkit-keyframes neon-dark {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgba(32, 30, 31, 0.445), 0 0 70px rgba(32, 30, 31, 0.445), 0 0 80px rgba(32, 30, 31, 0.445), 0 0 100px rgba(32, 30, 31, 0.445), 0 0 150px rgba(32, 30, 31, 0.445);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(32, 30, 31, 0.445), 0 0 35px rgba(32, 30, 31, 0.445), 0 0 40px rgba(32, 30, 31, 0.445), 0 0 50px rgba(32, 30, 31, 0.445), 0 0 75px rgba(32, 30, 31, 0.445);
  }
}

.bg-red {
  background-color: rgba(252, 79, 82, 0.9);
}

.bg-yellow {
  background-color: rgba(254, 226, 91, 0.9);
}

.bg-blue {
  background-color: rgba(82, 168, 252, 0.9);
}

.bg-green {
  background-color: rgba(87, 253, 131, 0.9);
}

.bg-dark {
  background-color: rgba(21, 1, 1, 0.9);
}

.btn-2 {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  z-index: 1000;
}

.navigation .navi-logo {
  float: left;
}

.navigation .navi-logo img {
  content: url("../img/logo/logo_all_black.png");
}

@media only screen and (min-width: 768px) {
  .navigation .navi-logo img {
    height: 2vw;
  }
}

@media only screen and (max-width: 768px) {
  .navigation .navi-logo img {
    height: 4vw;
  }
}

@media only screen and (min-width: 768px) {
  .navigation .navi-logo {
    margin-top: 2vw;
    margin-left: 2.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .navigation .navi-logo {
    margin-top: 4vw;
    margin-left: 3.5vw;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

.navigation .navi-backtop {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  z-index: 1000;
  background-image: url("../img/icon/back-top.png");
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-filter: invert(100%);
          filter: invert(100%);
  border-radius: 5px;
}

.navigation .navi-checkbox {
  display: none;
}

.navigation .navi-link {
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.navigation .navi-link:hover, .navigation .navi-link:hover:active {
  border-bottom: 2px white solid;
}

@media only screen and (min-width: 768px) {
  .navigation .navi-button {
    display: none;
  }
  .navigation ul[class="navi-list"] {
    list-style: none;
    float: right;
  }
  .navigation ul[class="navi-list"] li {
    float: left;
    font-size: 1.5vw;
    margin-top: 2.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .navigation ul[class="navi-list"] li a {
    text-decoration: none;
    color: white;
  }
  .navigation .navi-backtop {
    bottom: 5vh;
    right: 5vw;
    height: 3.5vw;
    width: 3.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .navigation .navi-button {
    position: fixed;
    height: 5vw;
    width: 5vw;
    top: 5vw;
    right: 5vw;
    z-index: 2000;
  }
  .navigation .navi-button .navi-icon {
    position: relative;
  }
  .navigation .navi-button .navi-icon, .navigation .navi-button .navi-icon::before, .navigation .navi-button .navi-icon::after {
    content: "";
    width: 5vw;
    height: .7vw;
    background-color: white;
    display: inline-block;
  }
  .navigation .navi-button .navi-icon::before, .navigation .navi-button .navi-icon::after {
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .navigation .navi-button .navi-icon::before {
    top: -2vw;
  }
  .navigation .navi-button .navi-icon::after {
    top: 2vw;
  }
  .navigation .navi-button:hover .navi-icon:before {
    top: -2.5vw;
  }
  .navigation .navi-button:hover .navi-icon:after {
    top: 2.5vw;
  }
  .navigation .navi-nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1500;
    opacity: 0;
    width: 0;
    -webkit-transition: width 0.3s cubic-bezier(0, 0.9, 0.8, 1.03);
    transition: width 0.3s cubic-bezier(0, 0.9, 0.8, 1.03);
  }
  .navigation .navi-nav .navi-list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  .navigation .navi-nav .navi-list .navi-item {
    margin: 1.5rem;
  }
  .navigation .navi-nav .navi-list .navi-item .navi-link {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
  }
  .navigation .navi-backtop {
    bottom: 4vh;
    right: 7vw;
    height: 7vw;
    width: 7vw;
  }
}

.navigation .navi-checkbox:checked ~ .navi-nav {
  opacity: 1;
  width: 100%;
}

.navigation .navi-checkbox:checked + .navi-button .navi-icon {
  background-color: transparent;
}

.navigation .navi-checkbox:checked + .navi-button .navi-icon:before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation .navi-checkbox:checked + .navi-button .navi-icon:after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header {
  position: relative;
  background-color: white;
}

.header .header-logo {
  font-family: 'Maven Pro', sans-serif;
}

.header .header-text {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    height: 100vh;
    min-height: 120vw;
    padding-right: 5vw;
    padding-bottom: 10vw;
    background-image: url("../img/logo/vast_bg_m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: right;
  }
  .header .header-logo {
    margin-bottom: 3.5vw;
  }
  .header .header-logo .header-logo-main {
    font-size: 27vw;
  }
  .header .header-logo .header-logo-main .header-logo-main-base {
    display: none;
  }
  .header .header-logo .header-logo-sub {
    font-size: 8vw;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
  }
  .header .header-text {
    font-size: 3.3vw;
  }
  .header .header-text .header-text1 {
    margin-bottom: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 60vw;
  }
  .header .header-content {
    background-image: url("../img/logo/vast_bg_m.jpg");
    background-size: cover;
    background-position: right;
    position: absolute;
    right: 0;
    bottom: initial;
    margin-bottom: initial;
    height: 100%;
    width: 60%;
  }
  .header .header-logo {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: right;
    color: white;
    top: 30%;
    left: 25%;
  }
  .header .header-logo .header-logo-main {
    position: relative;
    font-size: 14.7vw;
  }
  .header .header-logo .header-logo-main .header-logo-main-base {
    position: absolute;
    color: black;
    -webkit-clip-path: polygon(0 0, 39.6% 0, 39.6% 100%, 0 100%);
            clip-path: polygon(0 0, 39.6% 0, 39.6% 100%, 0 100%);
  }
  .header .header-logo .header-logo-sub {
    font-size: 2.6vw;
    -webkit-transform: translateY(-1vw);
            transform: translateY(-1vw);
  }
  .header .header-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    text-align: left;
    top: 80%;
    left: 4%;
    color: gray;
    font-size: 1vw;
  }
  .header .header-text .header-text1 {
    display: block;
  }
  .header .header-text .header-text2 {
    display: block;
    margin-right: 5vw;
  }
}

.customise {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) {
  .customise {
    padding-bottom: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .customise .customise-canvas {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.customise .customise-canvas .customise-canvas-head {
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

@media only screen and (min-width: 768px) {
  .customise .customise-canvas .customise-canvas-head {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-canvas .customise-canvas-head {
    font-size: 5vw;
  }
}

.customise .customise-canvas .customise-canvas-body {
  background-image: url("../img/customise/customise1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (min-width: 768px) {
  .customise .customise-canvas .customise-canvas-body {
    height: 30vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-canvas .customise-canvas-body {
    height: 60vw;
  }
}

.customise .customise-canvas .customise-canvas-body .customise-canvas-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.customise .customise-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel {
    padding: 8vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] {
    margin-bottom: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] {
    margin-bottom: 1vw;
  }
}

.customise .customise-panel [class*="customise-panel-"] lable {
  display: block;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] lable {
    margin-left: -3vw;
    margin-bottom: 3vw;
    font-size: 5vw;
  }
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel [class*="customise-panel-"] lable {
    margin-left: -1vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
  }
}

.customise .customise-panel .customise-panel-size input[type="radio"] {
  display: none;
}

.customise .customise-panel .customise-panel-size input[type="radio"]:checked + label {
  border: solid 2px #5ee0f1;
}

.customise .customise-panel .customise-panel-size .customise-size-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel .customise-panel-size .customise-size-btn {
    border: 0.5px rgba(255, 255, 255, 0.7) solid;
    border-radius: 5px;
    margin-right: 1vw;
    padding: 3px 15px;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel .customise-panel-size .customise-size-btn {
    border: 1px white solid;
    border-radius: 10px;
    margin-right: 5vw;
    padding: 3px 15px;
    font-size: 5vw;
  }
}

.customise .customise-panel .customise-panel-size .customise-size-btn:hover {
  cursor: pointer;
}

.customise .customise-panel #customise-phrase-text {
  background: black;
  color: white;
  display: block;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel #customise-phrase-text {
    margin-left: auto;
    margin-right: 0;
    width: 22vw;
    height: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel #customise-phrase-text {
    margin-left: auto;
    margin-right: 0;
    width: 60vw;
    height: 20vw;
    border: 1px solid white;
  }
}

.customise .customise-panel .customise-phrase-submit {
  display: block;
  margin-left: auto;
  margin-right: 0;
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel .customise-phrase-submit {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel .customise-phrase-submit {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    margin-top: 2vw;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 3vw;
  }
}

.customise .customise-panel #customise-font-sel {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel #customise-font-sel {
    width: 15vw;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel #customise-font-sel {
    width: 30vw;
    font-size: 3vw;
  }
}

.customise .customise-panel .customise-panel-color input[type="radio"] {
  display: none;
}

.customise .customise-panel .customise-panel-color input[type="radio"]:checked + label {
  border: solid 2px #5ee0f1;
}

.customise .customise-panel .customise-panel-color .customise-color-btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 768px) {
  .customise .customise-panel .customise-panel-color .customise-color-btn {
    border: 0.5px rgba(255, 255, 255, 0.7) solid;
    border-radius: 5px;
    height: 3vw;
    width: 3vw;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .customise .customise-panel .customise-panel-color .customise-color-btn {
    border: 1px white solid;
    border-radius: 5px;
    height: 7vw;
    width: 7vw;
    margin-right: 3vw;
  }
}

.commercial {
  background-color: black;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 600px) {
  .commercial {
    height: 80vw;
  }
  .commercial .left-0 {
    left: 5vw;
  }
  .commercial .left-1 {
    left: 20vw;
  }
  .commercial .left-2 {
    left: 39vw;
  }
  .commercial .left-3 {
    left: 58vw;
  }
  .commercial .left-4 {
    left: 77vw;
  }
}

.commercial .commercial-text {
  padding: 8vw;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text {
    position: absolute;
    height: 40vw;
    width: 30vw;
    padding: 0;
    margin-top: 3vw;
  }
}

.commercial .commercial-text * {
  color: white;
  margin-top: 2vw;
}

.commercial .commercial-text h1 {
  font-size: 4rem;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text h1 {
    font-size: 5vw;
  }
}

.commercial .commercial-text p, .commercial .commercial-text a {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text p, .commercial .commercial-text a {
    font-size: 1vw;
  }
}

.commercial .commercial-text .commercial-text-vertical {
  display: none;
  color: gray;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translateX(2vw) translatey(-3vw);
          transform: rotate(180deg) translateX(2vw) translatey(-3vw);
}

@media only screen and (min-width: 600px) {
  .commercial .commercial-text .commercial-text-vertical {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .commercial [id*="commercial-img"] {
    width: 20vw;
    padding: 1vw;
    position: absolute;
  }
  .commercial #commercial-img_1_1 {
    top: 38vw;
  }
  .commercial #commercial-img_2_1 {
    top: 17vw;
  }
  .commercial #commercial-img_2_2 {
    top: 30vw;
  }
  .commercial #commercial-img_2_3 {
    top: 43vw;
  }
  .commercial #commercial-img_3_1 {
    top: 21vw;
  }
  .commercial #commercial-img_3_2 {
    top: 46.5vw;
  }
  .commercial #commercial-img_3_3 {
    top: 60vw;
  }
  .commercial #commercial-img_4_1 {
    top: 35vw;
  }
}

.contact {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.contact div > .contact-head {
  font-size: 1rem;
}

.contact div > .contact-text {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact div > .contact-text > div {
  padding: 10px;
  vertical-align: center;
}

.contact div > .contact-text > div > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 2rem;
  margin-right: 1.5rem;
  float: left;
}

.contact div > .contact-text > div > p {
  height: 2rem;
  margin-right: 1.5rem;
}

.footer {
  background: #cccccc;
  font-family: 'Roboto', sans-serif;
}

.footer div[class*="col-"] {
  padding: 30px 50px;
}

.footer div[class*="col-"] .footer-head {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.footer div[class*="col-"] .footer-text {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .footer div[class*="col-"] .footer-text {
    font-size: .7rem;
  }
}

.footer div[class*="col-"] .footer-text img {
  height: 2.5rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .footer .foot-copyright {
    margin-bottom: 5vw;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer .foot-copyright {
    margin-bottom: 5vw;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */